@import url('https://fonts.googleapis.com/css2?family=Arial:wght@400;700&display=swap');

:root {
  --font-poppins: 'Poppins', sans-serif;
  --font-figtree: 'Figtree', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

